<a href = "<%= new_restaurant_path %>" >Add a restaurant</a>
<br>
<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <div class="summary">
      <thumbnail>
        <%= image_tag restaurant.image.url(:thumb) %>
      </thumbnail>
      <summary>
        <h2> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </h2>
        <% if restaurant.reviews.any? %>
          <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>  
        <% else %>
          <h3>No reviews</p>
        <% end %>
      </summary>
    </div>
  <% end %>
<% else %>
  <div class="summary">
    No restaurants
  </div>
<% end %>