<a href = "<%= new_restaurant_path %>" >Add a restaurant</a>
<br>
<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant_summary">
      <div class="restaurant_thumbnail">
        <%= image_tag restaurant.image.url(:thumb) %>
      </div>
      <div class="retaurant_basic_info">
        <h2> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </h2>
        <% if restaurant.reviews.any? %>
          <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>  
        <% else %>
          <h3>No reviews</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>No restaurants</h2>
<% end %>