/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar {
  background-color: #e03800;
  padding-top: 10px;
  padding-bottom: 10px;
 }

 .navbar-brand {
  color: white;
  font-size: 26px;
 }

.registration {
  color: white;
}

article {
  position: relative;
  top: 80px;
  left: 20px;
  /*right: 20px;*/
}

img {
  padding: 10px;
}

section {
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 12px;
}

li {
  font-size: 12px;
}