// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors #restaurant_name {
  border: 2px solid red;  
}

li {
  list-style-type: none;
}

.summary {
  width: 400px;
  height: 165px;
  display: inline-flex;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

thumbnail {
  width: 100px;
  flex: 1;
}

summary {
  width: 100px;
  flex: 1;
}