// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors #restaurant_name {
  border: 2px solid red;  
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.restaurant_summary {
  width: 400px;
  height: 165px;
  display: inline-flex;
  background-color: #ecf0f1;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurant_thumbnail {
  flex: 1;
  height: 100%;
}

.restaurant_basic_info {
  flex: 1.5;
}

.restaurant_detail {
  width: 100%;
  display: flex;
}

.restaurant_image {
  flex: 1;
  height: 100%;
}

.restaurant_detailed_info {
  flex: 1.5;
}